extends layouts/main

block content
  div#preloader
    div#status &nbsp;
  header#header.tint
    include includes/navbar

  //- include includes/why
  //- include includes/values
  include includes/mission
  include includes/foundation
  include includes/projects
  //- include includes/about

  include includes/map
