footer#footer
    #footer-top
        .container
          .row
            .full_width.column
              ul.socials.anim(data-anim='fadeInDown')
                li
                  a(href='https://forum.ethereum.org/', title='Forum', target="_blank")
                    i.fa.fa-comments-o
                li
                  a(href='https://wiki.ethereum.org/', title='Wiki', target="_blank")
                    i.fa.fa-ge
                li
                  a(href='https://github.com/ethereum', title='Github', target="_blank")
                    i.fa.fa-git
                li
                  a(href='https://www.facebook.com/ethereumproject', title='Facebook', target="_blank")
                    i.fa.fa-facebook
                li
                  a(href='https://twitter.com/ethereumproject', title='Twitter', target="_blank")
                    i.fa.fa-twitter
                li
                  a(href='https://plus.google.com/+EthereumOrgOfficial/posts', title='Google Plus', target="_blank")
                    i.fa.fa-google-plus
                li
                  a(href='https://www.youtube.com/user/ethereumproject', title='Youtube', target="_blank")
                    i.fa.fa-youtube
                li
                  a(href='http://www.reddit.com/r/ethereum', title='Reddit', target="_blank")
                    i.fa.fa-reddit
                li
                  a(href='https://blog.ethereum.org/', title='Blog', target="_blank")
                    i.fa.fa-wordpress
                li
                  a(href='https://blog.ethereum.org/team/', title='Team', target="_blank")
                    i.fa.fa-users
      #footer-bottom
        .container
          .row
            .full_width.column
              h1.logo
                a.scrolltop(href='https://ethereum.org/', target="_blank") ethereum
              p © Copyright 2014 - All rights reserved.
div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/ScR8usSsYik',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:14,opacity:1,showControls:false,addRaster:false}", data-mobile-fallback="images/background/bg-1.jpg")
//- div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/FnHXUpjCOqo',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:8,opacity:1,showControls:false,addRaster:false}", data-mobile-fallback="images/background/bg-1.jpg")
//- div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/6eHlx2VmwUE',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:0,opacity:1,showControls:false,addRaster:false,quality:'medium'}", data-mobile-fallback="images/background/bg-1.jpg")
| <!-- inject:js -->
| <!-- endinject -->
