footer#footer
    #footer-top
        .container
          .row
            .full_width.column
              ul.socials.anim(data-anim='fadeInDown')
                li
                  a(href='#', title='Forum')
                    i.fa.fa-comments-o
                li
                  a(href='#', title='Wiki')
                    i.fa.fa-ge
                li
                  a(href='#', title='Github')
                    i.fa.fa-git
                li
                  a(href='#', title='Facebook')
                    i.fa.fa-facebook
                li
                  a(href='#', title='Twitter')
                    i.fa.fa-twitter
                li
                  a(href='#', title='Google Plus')
                    i.fa.fa-google-plus
                li
                  a(href='#', title='Youtube')
                    i.fa.fa-youtube
                li
                  a(href='#', title='Reddit')
                    i.fa.fa-reddit
                li
                  a(href='#', title='Blog')
                    i.fa.fa-wordpress
                li
                  a(href='#', title='Team')
                    i.fa.fa-users
      #footer-bottom
        .container
          .row
            .full_width.column
              h1.logo
                a.scrolltop(href='#') NIYA
              p © Copyright 2014 - All rights reserved.
div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/ScR8usSsYik',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:14,opacity:1,showControls:false,addRaster:false}", data-mobile-fallback="images/background/bg-1.jpg")
//- div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/FnHXUpjCOqo',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:8,opacity:1,showControls:false,addRaster:false}", data-mobile-fallback="images/background/bg-1.jpg")
//- div#bgndVideo.player(data-property="{videoURL:'http://youtu.be/6eHlx2VmwUE',containment:'#header',autoPlay:true,mute:true,startAt:0,stopAt:0,opacity:1,showControls:false,addRaster:false,quality:'medium'}", data-mobile-fallback="images/background/bg-1.jpg")
| <!-- inject:js -->
| <!-- endinject -->
