title ethereum.foundation
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='chrome=1')
meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
meta(http-equiv='Pragma', content='no-cache')
meta(http-equiv='Expires', content='0')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

<!-- favicon and apple touch icon, remove if you put this page in the root directory -->
link(rel="icon",type='image/png',href="images/favicon.png?20140310130500")
link(rel="shortcut icon",type='image/x-icon',href="images/favicon.ico?20140310130500")

<!-- Google Fonts -->
link(href='http://fonts.googleapis.com/css?family=Montserrat:700', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek,latin-ext', rel='stylesheet', type='text/css')

<!-- Stylesheets -->
| <!-- inject:css -->
| <!-- endinject -->
