section#foundation.whitesmoke
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Team
					h3 Meet the team

		//- div.team-grid.row.anim(data-anim="fadeInUp")
		//- 	div.t-block.text-center.full_width.column
		//- 		p The Foundation will initially be governed by the Ethereum leadership team:
		//- 		p &nbsp;

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/vitalik-buterin.jpg", alt="")
				h3.t-fullname Vitalik Buterin
				span.t-position President
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/mihai-alisie.jpg", alt="")
				h3.t-fullname Mihai Alisie
				span.t-position Vice-President
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/taylor-gerring.jpg" alt="")
				h3.t-fullname Taylor Gerring
				span.t-position Board Member
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/gavin-wood.jpg" alt="")
				h3.t-fullname Gavin Wood
				span.t-position Board Member
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

		div.clearfix <br><br>

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.grayscale.one_eight.column &nbsp;

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/profile-3.jpg" alt="")
				h3.t-fullname Jeffrey Wilcke
				span.t-position Board Member
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/joseph-lubin.jpg" alt="")
				h3.t-fullname Joseph Lubin
				span.t-position Board Member
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

			div.t-block.text-center.grayscale.one_fourth.column
				img.t-image(src="images/team/stephan-tual.jpg" alt="")
				h3.t-fullname Stephan Tual
				span.t-position Board Member
				span.t-socials
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-linkedin

		div.clearfix <br><br>

		//- div.team-grid.row.anim(data-anim="fadeInUp")
		//- 	div.t-block.text-center.full_width.column
		//- 		p Open technologies such as ethereum will be developed, nurtured, promoted and maintained with the help of independent, community guided organizations united through common values and principles.In this framework, the organizations can coexist as independent research groups, complementary entities or loosely associated groups aligned with the Foundation’s mission.

		//- 		//- img.halfImage(src="images/project-org-structure.svg", alt="Ethereum Project Org Structure")
		//- 		img(src="images/project-org-structure.png", alt="Ethereum Project Org Structure")

		//- 		p The Council dissolves itself of operational responsibilities and should be called to action only when a “red button" issue is raised and openly voted upon by the community and/or member organizations. Examples for such issues  include critical decisions affecting the ecosystem at large, evaluating and potentially funding grant requests,  jurisdictional legal requirements and so on.

		//- 		p Looking forward, the Ethereum Foundation understands and embraces the challenge of becoming a DAO and intends to reduce its role within the ecosystem to a minimal function with the governance and funding to being completely transitioned into a DAO framework serving the community at large.
