section#mission.white
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Mission
					h3 Our main objectives

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.full_width.column
				p The mission of the Ethereum Foundation is to develop, preserve and promulgate the Ethereum protocol, and to support initiatives focused on the development of distributed consensus technology.

				p &nbsp;
