section#mission.white
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Mission
					h3 Our main objectives

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.full_width.column
				p The Ethereum Foundation is a Swiss Stiftung registered in the Canton of Zug on 14 July 2014 with a declared mission to promote the development of new technologies and applications in the fields of open and decentralized software architectures such as ethereum. Unlike a limited liability company, the Swiss Stiftung is a non profit entity that does not focus on operations or decision-making, but instead exists to manage assets toward a purpose.

				p Initially the primary focus consists in the delivery of the ethereum protocol. If the core milestones will be reached and enough resources will be available we want to nurture community initiatives and co-experiment as much as possible.
				p &nbsp;
