div.nav-header.anim(data-anim="fadeInDown")
  div.nav-inner
    h1.logo
      a(href="#" class="scrolltop") NIYA
    a#nav-toggle(href="#")
      img(src="images/icon-menu.svg", alt="")
    nav.nav
      a(href="#why") Why
      a(href="#values") Values
      a(href="#mission") Mission
      a(href="#foundation") Foundation
      a(href="#contact") Contact

div.container.intro-block
  div.row.intro-text
    div.full_width.column.anim(data-anim="flipInX")
      h3 Fresh &amp; Unique Digital Experiences
      h1.fittext We Are <span class="rotate">Designers, Developers, Thinkers, Strategists</span>
