section#projects.white
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Projects
					h3 We design and develop. And we do both well!

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.one_fourth.column
				h3 Ethereum ĐΞV
				p Ethereum is an open source platform which enables the creation and distribution of decentralized applications.
				a.button.button-dark(href="#" rel="ethereum_dev") Read More

			div.t-block.text-center.one_fourth.column
				h3 Digital Finance SRO
				p The self-regulatory organization will enable Ethereum and other companies to help guide and structure the form of regulation in the cryptocurrency space.
				a.button.button-dark(href="#" rel="sro") Read More

			div.t-block.text-center.one_fourth.column
				h3 CCRG
				p The Cryptocurrency Research Group is a cross-disciplinary research network focused on studying decentralized cryptocurrency technology.
				a.button.button-dark(href="#" rel="ccrg") Read More

			div.t-block.text-center.one_fourth.column
				h3 Ξlabs
				p We enjoy exploring new solutions and experimenting with big ideas toward a better future.
				a.button.button-dark(href="#" rel="elabs") Read More
section#grid3d.grid3d.horizontal.whitesmoke
	div.grid-wrap
		div.grid(style="display:none;")
			figure.ethereum_dev
			figure.sro
			figure.ccrg
			figure.elabs

	div.content
		div
			div.dummy-img
			h2 Ethereum ĐΞV
			hr
			p.dummy-text
				| Ethereum is an open source platform which enables the creation and distribution of decentralized applications. For more information, please refer to our <a href="https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper" target="_blank">white paper</a> for an overview of the platform including distribution, the <a href="https://github.com/ethereum/private/wiki/gavwood.com/paper.pdf" target="_blank">yellow paper</a> for the technical implementation specification and our <a href="https://www.ethereum.org/">website</a> for a brief overview of our platform including an introduction video. Details regarding the technological roadmap and specific deliverables can be found in the <a href="https://docs.google.com/a/ethereum.org/document/d/1YLdorrgyxaHhn9f9SvIO_iKvBFSlj0Vpbk2fzXtVnDQ/edit#" target="_blank">DΞV plan</a>.

			h3 Vision
			p.dummy-text
				| Vitalik Buterin had a clear vision in November 2013 when he first came up with the core concept of what was to become Ethereum. The intent was to create a cryptographic platform with a built-in programming language, attempting to generalize concepts such as savings wallets with withdrawal limits, multi-signature escrow, bets, contracts for difference, and pretty much anything else that can be mathematically described.
			p.dummy-text
				| Since then, the scope of the project has expanded considerably. Following a substantial and unexpected inpour of interest as early as mid-December, the project first expanded to incorporate an independent blockchain, and then grew to include side efforts such as centralization-resistant proof of work, a cryptocurrency research group, legal efforts in the United States and Switzerland, and eventually the concept of the EtherBrowser, together with the currently concept-stage helper protocols codenamed 'Whisper' and 'Swarm'.

			h3 Mission
			p.dummy-text
				| Our mission is the delivery of ethereum 1.0 platform

			h3 Organizational structure
			p.dummy-text
				| The Ethereum project will be initially divided into three related but independently operated bodies:
			div.dummy-img
				img(src="images/projects/dev-1.jpg" alt="Ethereum DEV")
			p.dummy-text
				| <b>Ethereum Stiftung</b>, a non-profit foundation based in Switzerland, in the Canton of Zug, which will serve as an umbrella organization responsible for allocating resources to other bodies for future cryptocurrency research and development going forward. The board of the Stiftung consists of Vitalik Buterin (president), Mihai Alisie (vice president), Taylor Gerring, Stephan Tual, Joseph Lubin, Jeffrey Wilcke and Gavin Wood.  The Stiftung will focus on overarching “mission” and will enable operating organizations to accomplish the day-to-day work.
			p.dummy-text
				| <b>Ethereum Switzerland GmbH</b>, a corporation based in Switzerland that will be responsible for a subset of operations in 2014 leading to the release of the Genesis Block. The GmbH will be 100% owned by the Ethereum Stiftung and it is expected that it will cease development operations once the Genesis Block is released.
			p.dummy-text
				| <b>ĐΞV</b>, a nonprofit which will receive two tranches of funds specifically for the purpose of building, optimizing and promoting Ethereum 1.0, with Ethereum lead developers Vitalik Buterin, Gavin Wood and Jeffrey Wilcke as its directors.

			h3 Team
			p.dummy-text
				| Delivery
			div.team-grid.row
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/vitalik-buterin.jpg", alt="")
					h3.t-fullname Vitalik Buterin
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/gavin-wood.jpg" alt="")
					h3.t-fullname Gavin Wood
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/profile-3.jpg" alt="")
					h3.t-fullname Jeffrey Wilcke

			p.dummy-text
				| Community Outreach
			div.team-grid.row
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/profile-3.jpg" alt="")
					h3.t-fullname Anthony Di Iorio
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/stephan-tual.jpg" alt="")
					h3.t-fullname Stephan Tual

			h3 Projects
			p.dummy-text
				| <b>Ethereum  Protocol 1.0</b><br>Ethereum 1.0 represents the primary objective of the Ethereum Foundation though we are interested in developments across the crypto space. At this point, the state of Ethereum development can be estimated to be about halfway from start to finish, with a view to release 1.0 during winter 2014-2015.
			p.dummy-text
				| Since inception in January, we have accomplished:
			ul.dummy-text
				li The complete Ethereum protocol, as described in the <a href="https://github.com/ethereum/private/wiki/gavwood.com/paper.pdf" target="_blank">Yellow Paper</a>
				li Four nearly compatible Ethereum reference clients written in C++, Go, Python and Java
				li The Serpent, LLL and Mutan programming languages, which are fully functional with working compilers
				li A functional JavaScript API
				li A concept block protocol allowing for a 12-second block time, soon to be implemented
				li A concept alpha proof of work built on months of research into mining and proof of stake
			p.dummy-text
				| Thanks to the above, developers already can, and have, built fully functioning decentralized applications ("Đapps") such as name registries, currencies, lotteries, crowdfunding applications, and decentralized governance utilities such as the community-built "<a href="https://eris.projectdouglas.org" target="_blank">People's Republic of DOUG</a>".
			p.dummy-text
				| However, much of the harder work, including security auditing, just-in-time compilation as optimization strategy and building out the interface for the browser and IDE are still currently under development. See the Ethereum 1.0 Summary Roadmap on the website or dive right into the code on our github repos.

			div.dummy-img
				img(src="images/projects/dev-2.jpg" alt="Ethereum DEV")
			p.dummy-text
				| Consensus and security is the main critical-path item without which Ethereum 1.0 cannot be released. Approximate timelines on the important items are:
			ol.dummy-text
				li Develop a large and maximally complete library of tests and ensure that each EVM passes all of them (4-8 weeks).
				li Make sure tests continue to pass as just-in-time compilation, trie storage optimizations and light client protocols are implemented (1-4 months).
				li Ongoing security review and testing (up to 3 months).
			p.dummy-text
				| For more information please see the <a href="https://docs.google.com/a/ethereum.org/document/d/1YLdorrgyxaHhn9f9SvIO_iKvBFSlj0Vpbk2fzXtVnDQ/edit#" target="_blank">DEV plan</a>.

			h3 Roadmap
			p.dummy-text
				| The main focus will be the delivery of the ethereum 1.0 platform but for the Ethereum ecosystem to truly shine, a need has also become clear for some important base-level applications: a development environment and debugger for contracts and distributed applications (Đapps), a reputation system to enhance economic and social interactions, an identity system to fairly distribute application sub-tokens, probably many name registries for contracts and web pages, wallets and of course, an app store itself (but note that downloading an app will be free of charge).
			p.dummy-text
				| For more information regarding the distributed applications please see the <a href="https://docs.google.com/a/ethereum.org/document/d/1YLdorrgyxaHhn9f9SvIO_iKvBFSlj0Vpbk2fzXtVnDQ/edit#" target="_blank">DEV plan</a>, page 17-20.
		div
			div.dummy-img
			h2 Digital Finance SRO
			hr
			p.dummy-text
				| Due to the unique nature of the technology, blockchain-based, consensus formation systems like Bitcoin and Ethereum have the potential to have automated regulatory structures codified and built upon the systems themselves, rather than imposed externally by rules of government and other agencies.  As we have seen recently all over the world, governments are trying to determine if they should get involved in the regulation of this emerging industry and if so, how.
			p.dummy-text
				| Over the past several months the Ethereum Foundation’s Zurich-based legal team has been developing a strategy for self-regulation of cryptographic token systems.  Ethereum will be one of the founding members of the SRO.
			p.dummy-text
				| Proactively forming a self-regulatory organization (SRO) will enable Ethereum and other Swiss companies to help guide and structure the form of regulation in the space, which will be critical in the early years to avoid the potential for heavy handed regulation to stifle innovation.  The cryptocurrency space must be allowed to evolve as freely as possible in its formative years, just as Internet technologies and companies did.
			p.dummy-text
				| Switzerland is an ideal country for such a self regulatory approach with its tradition of SROs in the financial industry (e.g. VQF, PolyReg and others).  And once established and operational, we will look to develop similar organizations in other countries.
			p.dummy-text
				| While Ethereum aims to usher in a brave new world of transparent, no-trust-required business and social systems, we must operate in the present world and must adhere to its laws where the new systems meet the existing financial and legal infrastructure.  In Switzerland, the Financial Market Supervisory Authority (FINMA) is tasked with combating money laundering and terrorist financing, according to the Anti-Money Laundering Act.  FINMA also oversees self-regulatory organizations that supervise financial intermediaries.
			p.dummy-text
				| The SRO development team has been in discussions with companies in the digital finance industry, with other SROs and with FINMA and is in the process of developing a framework and set of regulations to present to FINMA this autumn as part of the application process.
		div
			div.dummy-img
			h2 CCRG
			hr
			p.dummy-text
				| The Cryptocurrency Research Group is the first formal cross-disciplinary research network focused on studying cryptocurrencies and other decentralized consensus technologies. CCRG affiliates span a wide range of disciplines including mathematics, cryptography, economics, and law. The goal of the CCRG is to understand decentralized consensus technology, its application and potential impact on the world, and to promulgate that understanding to the research community and to the public.

			h3 Why is the CCRG being formed?
			p.dummy-text
				| Decentralized consensus technologies provide, for the first time, a way for one Internet user to transfer a unique piece of digital property to another Internet user, such that the transfer is guaranteed to be safe, secure, public, and irrefutable.
			p.dummy-text
				| If adopted,  decentralized consensus technologies could fundamentally transform how the world operates, introducing a range of efficiencies to commerce, finance, law, and insurance, and enabling the creation of the next generation of the World Wide Web.
			p.dummy-text
				| These technologies have the potential to fundamentally shift society.  As such, the CCRG will bring together thought leaders from across disciplines to study necessary improvements to consensus technologies and the impact on these technologies to the world at large.
			p.dummy-text
				| We expect this technological revolution to induce a wider societal paradigm shift. The requirement of trusted intermediaries to facilitate secure communication and exchange will be reduced or eliminated by fault-tolerant technological solutions. It is hard to predict the implications of such a change, but we should ask ‘what will these technologies not affect?’ rather than ‘what will these technologies change?’ These are unique times, and we are poised to try to understand these watershed changes as they come.
		div
			div.dummy-img
			h2 Ξlabs
			hr
			p.dummy-text
				| We are a vibrant group of curious builders passionate about decentralized technologies and the fractal of opportunities possible in both digital and physical worlds. We enjoy exploring new solutions and experimenting with big ideas toward a better future.

			h3 Mission
			p.dummy-text
				| Our mission is to advance decentralized open technologies through intensive co-creation with the community at large. In order to achieve this we will engage in a wide variety of innovation, exploration, and experimentation--within the ethereum ecosystem and beyond.

			h3 Organizational structure
			div.dummy-img
				img(src="images/projects/elabs-1.svg" alt="Elabs")
			p.dummy-text
				| <b>Ethereum Stiftung</b>, a non-profit foundation based in Switzerland, in the Canton of Zug, will serve as an umbrella organization responsible for allocating resources to other bodies for future cryptocurrency research and development going forward. The board of the Stiftung consists of Vitalik Buterin (president), Mihai Alisie (vice president), Taylor Gerring, Stephan Tual, Joseph Lubin, Jeffrey Wilcke and Gavin Wood.  The Stiftung will focus on an overarching “mission” freeing the operating organizations to accomplish the day-to-day work freely however suits them best.
			p.dummy-text
				| <b>Ξlabs</b> is an independent nonprofit entity that will be officially activated if the ethersale surpasses the 30’000 BTC milestone. After activation, the organization is planned to be headed by Mihai Alisie and Taylor Gerring.

			h3 Team
			p.dummy-text
				| The initial team consists in Mihai Alisie, Taylor Gerring and Marian Oancea but we are always looking for friendly people that are willing to volunteer part of their time to interesting, exciting and fun projects to work on. If that sounds attractive to you, please get in touch with us.
			div.team-grid.row
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/mihai-alisie.jpg", alt="")
					h3.t-fullname Mihai Alisie
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/taylor-gerring.jpg" alt="")
					h3.t-fullname Taylor Gerring
				div.t-block.text-center.grayscale.one_third.column
					img.t-image(src="images/team/marian-oancea.jpg" alt="")
					h3.t-fullname Marian Oancea

			h3 Budget
			p.dummy-text
				| Up to 30’000 BTC the budget is non-existent, after that a trench of ________ would be directed towards Ξlabs in order to pursue our mission. You can see the intended use of budget here.

			h3 Projects
			p.dummy-text
				| <b>Open Gauntlet</b><br>The idea behind this project is the creation of a self sustainable community surrounding the project. We try to accomplish this by creating a tokenized voting platform serving as a github for ideas. Projects like ERIS or People’s Republic of DOUG have already made considerable advances in this area so we can learn from their experience on the backend side while focusing on delivering an easy to use interface enabling the right people to find the right ideas.
			p.dummy-text
				| We believe that it is also an important first step towards the DAOfication of the foundation by providing an interface through which people can create, cooperate and communicate easily, without any bottlenecks. We see this initial project as one that could add tremendous value to the community and ecosystem as a whole.
			p.dummy-text
				| <b>Automata</b><br>One of the ideas that sparked our imagination is the creation of a digital agent that can help you organize the digital realm according to your needs. To make a parallel to today’s technology imagine a Siri operating in a dashboard environment allowing you to customize and adapt the etherweb experience to fit your own needs and interests with total control over your privacy and data.
		span.loading
		span.icon.close-content
