section#projects.white
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Projects
					h3 We design and develop. And we do both well!

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.one_fourth.column
				h3 Ethereum ĐΞV
				p Ethereum is an open source platform which enables the creation and distribution of decentralized applications.
				a.button.button-dark(href="#") Read More

			div.t-block.text-center.one_fourth.column
				h3 Digital Finance SRO
				p The self-regulatory organization will enable Ethereum and other companies to help guide and structure the form of regulation in the cryptocurrency space.
				a.button.button-dark(href="#") Read More

			div.t-block.text-center.one_fourth.column
				h3 CCRG
				p The Cryptocurrency Research Group is a cross-disciplinary research network focused on studying decentralized cryptocurrency technology.
				a.button.button-dark(href="#") Read More

			div.t-block.text-center.one_fourth.column
				h3 Ξlabs
				p We enjoy exploring new solutions and experimenting with big ideas toward a better future.
				a.button.button-dark(href="#") Read More
