section#values.whitesmoke
    .container
        .row
          .full_width.column
            .section-title.anim(data-anim='flipInX')
              h1 Values
              h3 The things we care the most about
              p <br>
        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInLeft')
            img(src='images/services/world-positive-change.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInRight')
            h2 World Positive Change
            p Support technologies and initiatives that can be described as having a world positive impact. Strive to provide the best solution, even if that means foregoing profit.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInRight')
            img(src='images/services/gratitude.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInLeft')
            h2 Gratitude
            p Be deliberate about giving genuine appreciation to people around you. Have also gratitude for platforms, tools, and open source software that laid the foundation for this project to be possible.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInLeft')
            img(src='images/services/non-discrimination.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInRight')
            h2 Non Discrimination
            p Open technologies such as ethereum constitute a globally shared resource that must remain open and   accessible to everyone regardless of age, nationality, gender, skin color or any other label

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInRight')
            img(src='images/services/personal-mastery.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInLeft')
            h2 Personal Mastery
            p Do what makes you happy and follow your passion. Be conscious of your productivity level and happiness and also make continual changes to grow.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInLeft')
            img(src='images/services/clarity.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInRight')
            h2 Clarity
            p Seek first to understand, then to be understood. Don’t make assumptions and ask that extra question to have the full picture clear.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInRight')
            img(src='images/services/autonomy.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInLeft')
            h2 Autonomy
            p If you see something you don’t like, contribute an improvement.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInLeft')
            img(src='images/services/transparency.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInRight')
            h2 Transparency
            p Transparent community-based processes promote inclusiveness, participation, accountability and trust. Default to transparency and promote it by using open blockchain technologies.

        .service-block.xgrayscale.row
          .service-icon.text-center.quarter.column.anim(data-anim='fadeInRight')
            img(src='images/services/privacy.png', alt='')
          .service-body.three_fourth.column.anim(data-anim='fadeInLeft')
            h2 Privacy
            p Privacy is not a feature or an option, it is a human right.

