section#why.white
	div#about.container
		div.row
			.div.full_width.column
				div.section-title.anim(data-anim="flipInX")
					h1 Why
					h3 The things which drive us

		div.team-grid.row.anim(data-anim="fadeInUp")
			div.t-block.text-center.full_width.column
				p Since inception, our intention was to deliver a technology aligned with the community at large, united by raw passion for positive world change while also encouraging a meritocratic culture based on trust, openness, and respect.

				p Nine months later, we are a distributed community investigating the future of crypto-economies and open technologies, cooperating to find and advance new ways of creating and working together, motivating each other with radiant passion for this idea of a free, open, and decentralized world.

				p We see this as a rare opportunity to do things the right way with a goal of ensuring the ethereum protocol and software created remains as pure as our intentions.
				p &nbsp;
